# Boring directories
.idea
.vscode
venv/
__pycache__/

# Python
pyvenv.cfg

# My notes
notes.txt

# Confidential logs - all but examples
logs/*
!logs/*.example*

# Confidential keys
settings/api-keys.json
